
* {
    box-sizing: border-box;
    font-family: "Open Sans" , sans-serif;


}

@font-face {
    font-family: 'Neue Machina';
    src: url(assets/fonts/neue-machine-regular.otf);
  }



body {
    background-color: #000;
    color: #fff;
}

 a {
    color: #fff;
    text-decoration: none;
 }

a:hover {
    color: #fff;
    text-decoration: underline;
 }

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.main::before {
    content: '';
    background-image: url(../assets/icons/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 140vw;
    height: 100vh;
    display: inline-block; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    
}


.main::after {
    content: '';
    background-image: url(../assets/icons/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 140vw;
    height: 100vh;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(180deg);
    
}

@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before {
        width: 70vw;

    }

    .main::after {
        width: 70vw;

    }


}